<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Minhas Transações</h1>

<div>
    <p><strong>Saldo:</strong> R$ {{ "%.2f"|format(saldo) }}</p>
    <p><strong>Receitas:</strong> R$ {{ "%.2f"|format(receita) }}</p>
    <p><strong>Despesas:</strong> R$ {{ "%.2f"|format(despesa) }}</p>
</div>

<a href="/adicionar">Adicionar nova transação</a>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao[0] }}</td>
                <td>{{ transacao[1] }}</td>
                <td>{{ transacao[2] }}</td>
                <td>{{ transacao[3] }}</td>
                <td>{{ transacao[4] }}</td>
                <td>{{ transacao[5] }}</td>
                <td>
                    <a href="/editar/{{ transacao[0] }}">Editar</a>
                    <a href="/excluir/{{ transacao[0] }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>